/* globals.css */
.container {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.header .title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: green;
}

.header .subtitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.todo-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input input {
  font-size: 1.2rem;
  padding: 10px;
  margin-right: 10px;
  flex-grow: 1;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.todo-input button {
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.todo-list {
  background: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.todo-value {
  font-size: 1.2rem;
  flex-grow: 1;
}

.todo-actions button {
  padding: 10px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.todo-actions button:first-child {
  background-color: #f44336;
  margin-right: 10px;
}

.todo-actions button:last-child {
  background-color: #2196f3;
}

.no-items {
  text-align: center;
  font-size: 1.2rem;
  color: #777;
}
